.container {
    padding: 0 70px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
}

.menu-logo {
    display: none;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-div {
    margin-right: 96px;
}

.menu-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.menu-ul li a {
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

.menu-btn {
    border: none;
    border-radius: 100px;
    color: rgba(13, 13, 13, 1);
    font-weight: 400;
    font-size: 18px;
    background-color: rgba(246, 95, 95, 1);
    padding: 10px 20px;
    cursor: pointer;
}

.baner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 87px;
}

.baner-left {
    order: 1;
    position: relative;
}

.baner-right {
    order: 0;
}

.heading-baner {
    color: white;
    width: 529px;
    font-size: 57px;
    font-weight: bold;
}

.heading-baner span {
    color: #f65743;
}

.heading-baner span:last-child {
    color: #fdc54e;
}

.div {
    margin-top: 37px;
    margin-bottom: 27px;
    padding-right: 59px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.baner-para {
    width: 516px;
    color: white;
    font-size: 23px;
    font-family: "Montserrat", serif;
    line-height: 32px;
    margin-bottom: 26px;
}

.input {
    position: relative;
    margin-bottom: 29px;
}

.img-input1 {
    position: absolute;
    right: 92%;
}

.img-input2 {
    position: absolute;
    left: 78%;
}

.input-baner {
    width: 99%;
    height: 53px;
    border-radius: 99px;
    background-color: transparent;
    border: 1px solid white;
    padding: 0 50px;
}

.menu-btn {
    border: none;
    border-radius: 99px;
    color: rgba(12, 13, 13, 1);
    font-weight: 399;
    font-size: 17px;
    background-color: rgba(245, 95, 95, 1);
    padding: 9px 20px;
}

.btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.btns span {
    color: white;
    font-size: 13px;
}

.btn-play img {
    width: 79px;
    height: 79px;
}

.arrow {
    position: absolute;
    top: 15%;
}

.head-img {
    position: absolute;
    left: 35%;
    top: 42%;
}

.arrow-baner {
    position: absolute;
    right: 13px;
}

.arrow-baner2 {
    position: absolute;
    left: 90%;
    bottom: 25%;
}

.btns span {
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
    font-weight: 400;
}

.play-btn-div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.play-btn-div img {
    padding: 20px 18px 17px 17px;
    background-color: rgba(13, 13, 13, 1);
    box-shadow: 0px 15px 30px 0px rgba(223, 105, 81, 0.3);
    border-radius: 100%;
}

.tittle-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 65px;
    margin-top: 125px;
}

.head-tittle {
    font-size: 48px;
    color: white;
}

.head-tittle span {
    color: #f65743;
}

.para-tittle {
    text-align: center;
    width: 856px;
    opacity: 80%;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    height: 368px;
    background: linear-gradient(179.69deg, rgba(255, 255, 255, 0) -31.53%, #F54748 303.75%);
    border-radius: 20px;
    padding: 24px;
    position: relative;
}

.content-order {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.img-poss {
    position: absolute;
    bottom: 0;
    top: 100%;
    right: -70px;
}

.img-order {
    position: absolute;
    top: -120px;
}

.people {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 131px;
}

.order-tittle {
    font-size: 24px;
    color: #F65F5F;
    margin-top: 30px;
    margin-bottom: 16px;
}

.order p {
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    font-family: "Montserrat", serif;
}

.people span {
    color: white;
    font-size: 18px;
}

.poss-btn {
    position: absolute;
    bottom: -5%;
}


.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 113px;
}

.about-left {
    width: 50%;
    position: relative;
}

.vector {
    position: absolute;
    top: 18%;
    left: 56%;
}

.aboutus-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 130px;
    width: 50%;
}

.span-title {
    font-weight: 700;
    font-size: 48px;
    color: rgba(255, 255, 255, 1);
    max-width: 470px;
}

.red {
    color: #f65743;
}

.yellow {
    color: #fdc54e;
}

.span-para {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    text-align: justify;
}

.div-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-span {
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

.btn-aboutus {
    border-radius: 100px;
    color: rgba(13, 13, 13, 1);
    font-size: 18px;
    font-weight: 400;
    background-color: rgba(246, 95, 95, 1);
    padding: 10px 20px;
    border: none;
}

.container-tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-bottom: 108px;
    padding-top: 212px;
}

.title-span {
    font-weight: 700;
    font-size: 48px;
    line-height: 67px;
    color: rgba(255, 255, 255, 1);
    max-width: 700px;
    text-align: center;
}

.title-ul ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.title-ul ul li a {
    padding: 10px 20px;
    gap: 10px;
    opacity: 60%;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 100px;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
}

.title-ul .onclick {
    background-color: rgba(246, 95, 95, 1);
    color: rgba(13, 13, 13, 1);
    border: 2px solid rgba(246, 95, 95, 1);
}

.title-ul li a:hover {
    background-color: rgba(246, 95, 95, 1);
    color: rgba(13, 13, 13, 1);
    border: 2px solid rgba(246, 95, 95, 1);
    transition: all 0.5s;
}

.picture-end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 118px;
}

.picture-end-div {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 47px;
}

.end-span1 {
    font-weight: 700;
    font-size: 48px;
    color: rgba(255, 255, 255, 1);
    line-height: 67px;
    max-width: 650px;
}

.end-p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    max-width: 550px;
}

.end-box {
    display: flex;
    gap: 30px;
}


.btn1, .btn2 {
    border-radius: 5px;
    border: 1px solid #A6A6A6;
    cursor: pointer;
    width: 135px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: white;
}


.end-text {
    display: flex;
    color: #0D0D0D;
    flex-direction: column;
    align-items: start;
}

.end-text span:nth-child(1) {
    font-size: 10px;
}

